.container {
  display: flex;

}
.thumbnail {
  width: 50px;
}
.big-div {
 display: flex;
 height: 550px;
 width: 250px;
}
.big-image {
  width: 400px;

}
.thumbnail-div {
  display: flex;
  flex-direction: column;
  width: 55px;
}
.button-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
}
.color-button-1 {
  border-radius: 50%;
  padding: 20px;
  height: 50px;
  width: 50px;
  border: solid black 2px;
}
.color-button-2 {
  border-radius: 50%;
  padding: 20px;
  height: 50px;
  width: 50px;
  border: solid black 2px;
}